@model List<CheeseMVC.Models.Cheese>

<h1>My Cheese</h1>

<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>

@if (Model.Count == 0)
{
    <p>No cheeses yet!</p>
}
else
{
    <p><a asp-controller="Cheese" asp-action="Remove">Remove Cheese</a></p>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Rating</th>
            </tr>
        </thead>
        @foreach (Cheese cheese in Model)
        {
            <tr>
                <td>@cheese.Name</td>
                <td>@cheese.Description</td>
                <td>@cheese.Type</td>
                <td>@cheese.Rating</td>
                <td><a asp-controller="Cheese" asp-action="Edit" asp-route-cheeseId="@cheese.CheeseId">Edit</a></td>
            </tr>
        }
    </table>

}